Repository kjk402/airbnb, pull requests merged in 2021-05, with the labels that each got.

#6 [FE] CRA 프로젝트 생성
  frontend/.gitignore
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/public/manifest.json
  frontend/public/robots.txt
  frontend/src/App.css
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/index.css
  frontend/src/index.tsx
  frontend/src/logo.svg
  frontend/src/react-app-env.d.ts
  frontend/src/reportWebVitals.ts
  frontend/src/setupTests.ts
  frontend/tsconfig.json
Labels: frontend

#9 [FE] 메인화면 정적 UI 작업중
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/main/Main.tsx
  frontend/src/components/main/header/Header.tsx
  frontend/src/components/main/header/Logo.tsx
  frontend/src/components/main/header/Tour.tsx
  frontend/src/components/main/header/side_menu/UserMenu.tsx
  frontend/src/components/search_bar/SearchBar.tsx
  frontend/src/components/search_bar/SearchBy.tsx
  frontend/src/icons/check.svg
  frontend/src/icons/chevron-left.svg
  frontend/src/icons/chevron-right.svg
  frontend/src/icons/heart.svg
  frontend/src/icons/logo.svg
  frontend/src/icons/menu.svg
  frontend/src/icons/minus-circle.svg
  frontend/src/icons/minus.svg
  frontend/src/icons/pause-circle.svg
  frontend/src/icons/plus-circle.svg
  frontend/src/icons/plus.svg
  frontend/src/icons/search.svg
  frontend/src/icons/star.svg
  frontend/src/icons/user.svg
  frontend/src/icons/x-circle.svg
  frontend/src/index.css
  frontend/src/index.tsx
  frontend/src/setupTests.ts
  frontend/src/styles/GlobalStyle.ts
Labels: frontend

#12 [iOS] SearchController 구현
  .gitignore
  ios/.gitignore
  ios/airbnb/airbnb.xcodeproj/project.pbxproj
  ios/airbnb/airbnb/Base.lproj/Main.storyboard
  ios/airbnb/airbnb/CityCollectionViewCell.swift
  ios/airbnb/airbnb/CityCollectionViewCell.xib
  ios/airbnb/airbnb/Controller/LocationViewController.swift
Labels: ios

#13 [iOS] Alamofire을 이용한 네트워크 구현
  ios/airbnb/airbnb.xcodeproj/project.pbxproj
  ios/airbnb/airbnb.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  ios/airbnb/airbnb/Base.lproj/Main.storyboard
  ios/airbnb/airbnb/CityCollectionViewCell.xib
  ios/airbnb/airbnb/Controller/LocationViewController.swift
  ios/airbnb/airbnb/Controller/ViewController.swift
  ios/airbnb/airbnb/Info.plist
  ios/airbnb/airbnb/Model/EndPoint.swift
  ios/airbnb/airbnb/Model/LocationManager.swift
  ios/airbnb/airbnb/Model/MainLayout.swift
  ios/airbnb/airbnb/Model/NetworkManager.swift
Labels: ios

#14 [FE] 인원 입력 모달 창 구현
  frontend/package-lock.json
  frontend/package.json
  frontend/public/icons/check.svg
  frontend/public/icons/chevron-left.svg
  frontend/public/icons/chevron-right.svg
  frontend/public/icons/heart.svg
  frontend/public/icons/menu.svg
  frontend/public/icons/minus-circle.svg
  frontend/public/icons/minus.svg
  frontend/public/icons/pause-circle.svg
  frontend/public/icons/plus-circle.svg
  frontend/public/icons/plus.svg
  frontend/public/icons/search.svg
  frontend/public/icons/star.svg
  frontend/public/icons/user.svg
  frontend/src/App.tsx
  frontend/src/components/main/Main.tsx
  frontend/src/components/main/header/Header.tsx
  frontend/src/components/main/header/Logo.tsx
  frontend/src/components/main/header/Tour.tsx
  frontend/src/components/main/header/side_menu/HostApply.tsx
  frontend/src/components/main/header/side_menu/Region.tsx
  frontend/src/components/main/header/side_menu/SideContainer.tsx
  frontend/src/components/main/header/side_menu/UserMenu.tsx
  frontend/src/components/modals/calendar/CalendarModal.tsx
  frontend/src/components/modals/fee/FeeModal.tsx
  frontend/src/components/modals/guest/GuestModal.tsx
  frontend/src/components/modals/location/LocationModal.tsx
  frontend/src/components/search_bar/SearchBar.tsx
  frontend/src/components/search_bar/SearchBy.tsx
  frontend/src/components/search_bar/SearchFilter.tsx
  frontend/src/icons/minus.svg
  frontend/src/icons/plus.svg
  frontend/src/icons/x-circle-hover.svg
  frontend/src/icons/x-circle.svg
  frontend/src/index.tsx
  frontend/src/reportWebVitals.ts
  frontend/src/styles/ModalContainer.ts
  frontend/src/utils/interfaces.ts
  frontend/src/utils/parseByType.ts
Labels: frontend

#16 [iOS] ScrollView를 이용한 MainLayout구현
  .DS_Store
  ios/.DS_Store
  ios/airbnb/airbnb.xcodeproj/project.pbxproj
  ios/airbnb/airbnb.xcodeproj/xcshareddata/xcschemes/airbnb.xcscheme
  ios/airbnb/airbnb.xcodeproj/xcuserdata/zeke.xcuserdatad/xcschemes/xcschememanagement.plist
  ios/airbnb/airbnb/AppDelegate.swift
  ios/airbnb/airbnb/Base.lproj/Main.storyboard
  ios/airbnb/airbnb/Controller/LocationViewController.swift
  ios/airbnb/airbnb/Controller/ViewController.swift
  ios/airbnb/airbnb/Model/LocationManager.swift
  ios/airbnb/airbnb/Model/MainLayout.swift
  ios/airbnb/airbnb/Model/NetworkManager.swift
  ios/airbnb/airbnb/SpotCollectionViewCell.swift
  ios/airbnb/airbnb/SpotCollectionViewCell.xib
  ios/airbnb/airbnb/View/CityCollectionViewCell.swift
  ios/airbnb/airbnb/View/CityCollectionViewCell.xib
Labels: ios

#17 [FE] 모달 토글 기능 추가
  frontend/src/components/modals/calendar/CalendarModal.tsx
  frontend/src/components/modals/fee/FeeModal.tsx
  frontend/src/components/modals/guest/GuestModal.tsx
  frontend/src/components/modals/location/LocationModal.tsx
  frontend/src/components/search_bar/SearchBar.tsx
  frontend/src/components/search_bar/SearchFilter.tsx
  frontend/src/styles/ModalContainer.ts
  frontend/src/utils/interfaces.ts
Labels: frontend

#18 [BE] airbnb API
  .gitignore
  backend/.gitignore
  backend/HELP.md
  backend/build.gradle
  backend/docker/.gitignore
  backend/docker/README.md
  backend/docker/db/conf/custom.cnf
  backend/docker/db/initdb/1-init.sql
  backend/docker/docker-clear.sh
  backend/docker/docker-compose.yml
  backend/docker/docker-start.sh
  backend/gradle/wrapper/gradle-wrapper.properties
  backend/gradlew
  backend/gradlew.bat
  backend/settings.gradle
  backend/src/main/java/com/example/airbnb/AirbnbApplication.java
  backend/src/main/java/com/example/airbnb/config/WebConfig.java
  backend/src/main/java/com/example/airbnb/controller/AirbnbController.java
  backend/src/main/java/com/example/airbnb/controller/ReservationController.java
  backend/src/main/java/com/example/airbnb/controller/RoomController.java
  backend/src/main/java/com/example/airbnb/dao/CityDAO.java
  backend/src/main/java/com/example/airbnb/dao/ImageDAO.java
  backend/src/main/java/com/example/airbnb/dao/LocationDAO.java
  backend/src/main/java/com/example/airbnb/dao/ReservationDAO.java
  backend/src/main/java/com/example/airbnb/dao/RoomDAO.java
  backend/src/main/java/com/example/airbnb/domain/City.java
  backend/src/main/java/com/example/airbnb/domain/ExtraCost.java
  backend/src/main/java/com/example/airbnb/domain/Image.java
  backend/src/main/java/com/example/airbnb/domain/Location.java
  backend/src/main/java/com/example/airbnb/domain/Reservation.java
  backend/src/main/java/com/example/airbnb/domain/Room.java
  backend/src/main/java/com/example/airbnb/domain/User.java
  backend/src/main/java/com/example/airbnb/dto/CityDTO.java
  backend/src/main/java/com/example/airbnb/dto/ImageDTO.java
  backend/src/main/java/com/example/airbnb/dto/LocationDTO.java
  backend/src/main/java/com/example/airbnb/dto/MainPageDTO.java
  backend/src/main/java/com/example/airbnb/dto/PriceDTO.java
  backend/src/main/java/com/example/airbnb/dto/Receipt.java
  backend/src/main/java/com/example/airbnb/dto/ReservationDTO.java
  backend/src/main/java/com/example/airbnb/dto/ReservationPriceDTO.java
  backend/src/main/java/com/example/airbnb/dto/RoomDTO.java
  backend/src/main/java/com/example/airbnb/dto/RoomDetailDTO.java
  backend/src/main/java/com/example/airbnb/dto/RoomList.java
  backend/src/main/java/com/example/airbnb/dto/RoomListDTO.java
  backend/src/main/java/com/example/airbnb/service/CityService.java
  backend/src/main/java/com/example/airbnb/service/ReservationService.java
  backend/src/main/java/com/example/airbnb/service/RoomService.java
  backend/src/main/resources/application.properties
  backend/src/main/resources/data.sql
  backend/src/main/resources/schema.sql
  backend/src/test/java/com/example/airbnb/AirbnbApplicationTests.java
Labels: backend

#19 [FE] 스타일 마이너 픽스
  frontend/src/components/main/Main.tsx
  frontend/src/components/modals/guest/GuestModal.tsx
  frontend/src/components/search_bar/SearchBar.tsx
  frontend/src/components/search_bar/SearchFilter.tsx
  frontend/src/styles/ModalContainer.ts
Labels: frontend

#20 [BE] 코드 리팩토링 및 검색조건기능 변경
  backend/.gitignore
  backend/build.gradle
  backend/docker/README.md
  backend/src/main/java/com/example/airbnb/controller/CityController.java
  backend/src/main/java/com/example/airbnb/controller/ReservationController.java
  backend/src/main/java/com/example/airbnb/controller/RoomController.java
  backend/src/main/java/com/example/airbnb/dao/CityDAO.java
  backend/src/main/java/com/example/airbnb/dao/LocationDAO.java
  backend/src/main/java/com/example/airbnb/dao/ReservationDAO.java
  backend/src/main/java/com/example/airbnb/dao/RoomDAO.java
  backend/src/main/java/com/example/airbnb/domain/ExtraCost.java
  backend/src/main/java/com/example/airbnb/domain/Image.java
  backend/src/main/java/com/example/airbnb/domain/Location.java
  backend/src/main/java/com/example/airbnb/domain/Reservation.java
  backend/src/main/java/com/example/airbnb/domain/User.java
  backend/src/main/java/com/example/airbnb/dto/LocationDTO.java
  backend/src/main/java/com/example/airbnb/dto/MainPageDTO.java
  backend/src/main/java/com/example/airbnb/dto/Receipt.java
  backend/src/main/java/com/example/airbnb/dto/ReservationPriceDTO.java
  backend/src/main/java/com/example/airbnb/dto/RoomDTO.java
  backend/src/main/java/com/example/airbnb/dto/RoomDetailDTO.java
  backend/src/main/java/com/example/airbnb/dto/RoomList.java
  backend/src/main/java/com/example/airbnb/service/CityService.java
  backend/src/main/java/com/example/airbnb/service/ReservationService.java
  backend/src/main/java/com/example/airbnb/service/RoomService.java
  backend/src/main/resources/application.properties
  backend/src/main/resources/data.sql
  backend/src/main/resources/schema.sql
Labels: backend

#21 [BE] DAO 리스트 반환 Optional 사용
  backend/src/main/java/com/example/airbnb/dao/CityDAO.java
  backend/src/main/java/com/example/airbnb/dao/ImageDAO.java
  backend/src/main/java/com/example/airbnb/dao/LocationDAO.java
  backend/src/main/java/com/example/airbnb/dao/ReservationDAO.java
  backend/src/main/java/com/example/airbnb/dao/RoomDAO.java
  backend/src/main/java/com/example/airbnb/domain/Room.java
  backend/src/main/java/com/example/airbnb/service/RoomService.java
Labels: backend

#22 [iOS] google places autocomplete 구현
  .DS_Store
  ios/.DS_Store
  ios/.gitignore
  ios/airbnb/.DS_Store
  ios/airbnb/.Podfile.swp
  ios/airbnb/Podfile
  ios/airbnb/Podfile.lock
  ios/airbnb/airbnb.xcodeproj/project.pbxproj
  ios/airbnb/airbnb.xcworkspace/contents.xcworkspacedata
  ios/airbnb/airbnb.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  ios/airbnb/airbnb.xcworkspace/xcshareddata/swiftpm/Package.resolved
  ios/airbnb/airbnb/AppDelegate.swift
  ios/airbnb/airbnb/Base.lproj/Main.storyboard
  ios/airbnb/airbnb/Controller/LocationViewController.swift
  ios/airbnb/airbnb/Controller/ViewController.swift
  ios/airbnb/airbnb/Extension/ImageView+Load.swift
  ios/airbnb/airbnb/Model/LocationManager.swift
  ios/airbnb/airbnb/SpotCollectionViewCell.swift
  ios/airbnb/airbnb/SpotCollectionViewCell.xib
  ios/airbnb/airbnb/View/CityCollectionViewCell.swift
  ios/airbnb/airbnb/View/CityCollectionViewCell.xib
Labels: ios

#24 [FE] 캘린더 틀 정적 UI
  frontend/src/components/modals/calendar/CalendarBody.tsx
  frontend/src/components/modals/calendar/CalendarContainer.tsx
  frontend/src/components/modals/calendar/CalendarCore.tsx
  frontend/src/components/modals/calendar/CalendarCoreSlider.tsx
  frontend/src/components/modals/calendar/CalendarModal.tsx
  frontend/src/components/modals/calendar/CalendarTitle.tsx
  frontend/src/components/modals/calendar/CalendarTitleSlider.tsx
  frontend/src/components/modals/calendar/CalnedarHeader.tsx
  frontend/src/components/modals/calendar/Day.tsx
  frontend/src/components/modals/calendar/Week.tsx
Labels: frontend

#26 [BE] PR 리뷰 반영
  backend/README.md
  backend/build.gradle
  backend/docker/docker-clear.sh
  backend/src/main/java/com/example/airbnb/controller/CityController.java
  backend/src/main/java/com/example/airbnb/controller/ReservationController.java
  backend/src/main/java/com/example/airbnb/controller/RoomController.java
  backend/src/main/java/com/example/airbnb/dao/CityDAO.java
  backend/src/main/java/com/example/airbnb/dao/ImageDAO.java
  backend/src/main/java/com/example/airbnb/dao/LocationDAO.java
  backend/src/main/java/com/example/airbnb/dao/ReservationDAO.java
  backend/src/main/java/com/example/airbnb/dao/RoomDAO.java
  backend/src/main/java/com/example/airbnb/domain/Reservation.java
  backend/src/main/java/com/example/airbnb/dto/Receipt.java
  backend/src/main/java/com/example/airbnb/dto/RoomDTO.java
  backend/src/main/java/com/example/airbnb/dto/RoomDetailDTO.java
  backend/src/main/java/com/example/airbnb/dto/RoomListDTO.java
  backend/src/main/java/com/example/airbnb/exception/ConditionException.java
  backend/src/main/java/com/example/airbnb/exception/NotFoundDataException.java
  backend/src/main/java/com/example/airbnb/service/ReservationService.java
  backend/src/main/java/com/example/airbnb/service/RoomService.java
  backend/src/main/java/com/example/airbnb/utils/Calculators.java
  backend/src/main/java/com/example/airbnb/utils/SQL.kt
Labels: backend

#27 [BE] SwaggerConfig, WebConfig 와 분리
  backend/src/main/java/com/example/airbnb/config/SwaggerConfig.java
  backend/src/main/java/com/example/airbnb/config/WebConfig.java
Labels: backend

#30 [FE] 1주차 리뷰 반영 리팩토링
  frontend/src/components/main/Main.tsx
  frontend/src/components/main/header/Header.tsx
  frontend/src/components/main/header/Tour.tsx
  frontend/src/components/modals/guest/GuestModal.tsx
  frontend/src/components/search_bar/SearchBar.tsx
  frontend/src/components/search_bar/SearchFilter.tsx
  frontend/src/icons/x-circle-hover.svg
  frontend/src/styles/ModalContainer.ts
  frontend/src/utils/interfaces.ts
  frontend/src/utils/parseByType.ts
Labels: frontend

#31 [iOS] FSCalendar 추가
  .DS_Store
  ios/.DS_Store
  ios/airbnb/Podfile
  ios/airbnb/Podfile.lock
  ios/airbnb/airbnb.xcodeproj/project.pbxproj
  ios/airbnb/airbnb/Base.lproj/Main.storyboard
  ios/airbnb/airbnb/Controller/DateViewController.swift
  ios/airbnb/airbnb/Controller/InformationView.swift
  ios/airbnb/airbnb/Controller/LocationViewController.swift
  ios/airbnb/airbnb/SpotCollectionViewCell.xib
  ios/airbnb/airbnb/View/CityCollectionViewCell.xib
  ios/airbnb/airbnb/View/InformationView.xib
Labels: ios

#32 [iOS] FindingAccommodation 모델 객체 생성
  ios/airbnb/airbnb.xcodeproj/project.pbxproj
  ios/airbnb/airbnb/Controller/DateViewController.swift
  ios/airbnb/airbnb/Controller/InformationView.swift
  ios/airbnb/airbnb/Controller/LocationViewController.swift
  ios/airbnb/airbnb/Controller/ViewController.swift
  ios/airbnb/airbnb/FindingAccommodationManager.swift
  ios/airbnb/airbnb/Model/DTO/MainLayout.swift
  ios/airbnb/airbnb/Model/DTO/RoomsList.swift
  ios/airbnb/airbnb/Model/DTO/RoomsPrice.swift
  ios/airbnb/airbnb/Model/EndPoint.swift
  ios/airbnb/airbnb/Model/LocationManager.swift
  ios/airbnb/airbnb/Model/NetworkManager.swift
  ios/airbnb/airbnb/SceneDelegate.swift
  ios/airbnb/airbnb/SpotCollectionViewCell.swift
  ios/airbnb/airbnb/View/CityCollectionViewCell.swift
Labels: ios

#33 [BE] PR 추가 리뷰 반영, N+1 쿼리문제 해결
  backend/.gitignore
  backend/src/main/java/com/example/airbnb/config/WebConfig.java
  backend/src/main/java/com/example/airbnb/controller/ReservationController.java
  backend/src/main/java/com/example/airbnb/controller/RoomController.java
  backend/src/main/java/com/example/airbnb/dao/CityDAO.java
  backend/src/main/java/com/example/airbnb/dao/ImageDAO.java
  backend/src/main/java/com/example/airbnb/dao/LocationDAO.java
  backend/src/main/java/com/example/airbnb/dao/ReservationDAO.java
  backend/src/main/java/com/example/airbnb/dao/RoomDAO.java
  backend/src/main/java/com/example/airbnb/dto/Receipt.java
  backend/src/main/java/com/example/airbnb/service/ReservationService.java
  backend/src/main/java/com/example/airbnb/service/RoomService.java
  backend/src/main/java/com/example/airbnb/utils/Calculators.java
  backend/src/main/java/com/example/airbnb/utils/sqls/ImageQuery.kt
  backend/src/main/java/com/example/airbnb/utils/sqls/LocationQuery.kt
  backend/src/main/java/com/example/airbnb/utils/sqls/ReservationQuery.kt
  backend/src/main/java/com/example/airbnb/utils/sqls/RoomQuery.kt
Labels: backend

#36 [FE] 메인화면 캘린더 모달
  frontend/src/components/modals/calendar/CalendarBody.tsx
  frontend/src/components/modals/calendar/CalendarCon.tsx
  frontend/src/components/modals/calendar/CalendarContainer.tsx
  frontend/src/components/modals/calendar/CalendarCore.tsx
  frontend/src/components/modals/calendar/CalendarCoreSlider.tsx
  frontend/src/components/modals/calendar/CalendarModal.tsx
  frontend/src/components/modals/calendar/CalendarTitle.tsx
  frontend/src/components/modals/calendar/CalendarTitleSlider.tsx
  frontend/src/components/modals/calendar/CalnedarHeader.tsx
  frontend/src/components/modals/calendar/Day.tsx
  frontend/src/components/modals/calendar/Week.tsx
  frontend/src/components/search_bar/SearchBar.tsx
  frontend/src/components/search_bar/SearchFilter.tsx
  frontend/src/styles/ModalContainer.ts
  frontend/src/utils/interfaces.ts
  frontend/src/utils/makeDate.ts
Labels: frontend
